function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto SquareGame.moveSquare_IF_FALSE_2
push this 0
call Square.moveUp 1
pop temp 0
goto SquareGame.moveSquare_IF_TRUE_1
label SquareGame.moveSquare_IF_FALSE_2
label SquareGame.moveSquare_IF_TRUE_1
push this 1
push constant 2
eq
not
if-goto SquareGame.moveSquare_IF_FALSE_4
push this 0
call Square.moveDown 1
pop temp 0
goto SquareGame.moveSquare_IF_TRUE_3
label SquareGame.moveSquare_IF_FALSE_4
label SquareGame.moveSquare_IF_TRUE_3
push this 1
push constant 3
eq
not
if-goto SquareGame.moveSquare_IF_FALSE_6
push this 0
call Square.moveLeft 1
pop temp 0
goto SquareGame.moveSquare_IF_TRUE_5
label SquareGame.moveSquare_IF_FALSE_6
label SquareGame.moveSquare_IF_TRUE_5
push this 1
push constant 4
eq
not
if-goto SquareGame.moveSquare_IF_FALSE_8
push this 0
call Square.moveRight 1
pop temp 0
goto SquareGame.moveSquare_IF_TRUE_7
label SquareGame.moveSquare_IF_FALSE_8
label SquareGame.moveSquare_IF_TRUE_7
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label SquareGame.run_WHILE_START_9
push local 1
not
not
if-goto SquareGame.run_WHILE_END_10
label SquareGame.run_WHILE_START_11
push local 0
push constant 0
eq
not
if-goto SquareGame.run_WHILE_END_12
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame.run_WHILE_START_11
label SquareGame.run_WHILE_END_12
push local 0
push constant 81
eq
not
if-goto SquareGame.run_IF_FALSE_14
push constant 0
not
pop local 1
goto SquareGame.run_IF_TRUE_13
label SquareGame.run_IF_FALSE_14
label SquareGame.run_IF_TRUE_13
push local 0
push constant 90
eq
not
if-goto SquareGame.run_IF_FALSE_16
push this 0
call Square.decSize 1
pop temp 0
goto SquareGame.run_IF_TRUE_15
label SquareGame.run_IF_FALSE_16
label SquareGame.run_IF_TRUE_15
push local 0
push constant 88
eq
not
if-goto SquareGame.run_IF_FALSE_18
push this 0
call Square.incSize 1
pop temp 0
goto SquareGame.run_IF_TRUE_17
label SquareGame.run_IF_FALSE_18
label SquareGame.run_IF_TRUE_17
push local 0
push constant 131
eq
not
if-goto SquareGame.run_IF_FALSE_20
push constant 1
pop this 1
goto SquareGame.run_IF_TRUE_19
label SquareGame.run_IF_FALSE_20
label SquareGame.run_IF_TRUE_19
push local 0
push constant 133
eq
not
if-goto SquareGame.run_IF_FALSE_22
push constant 2
pop this 1
goto SquareGame.run_IF_TRUE_21
label SquareGame.run_IF_FALSE_22
label SquareGame.run_IF_TRUE_21
push local 0
push constant 130
eq
not
if-goto SquareGame.run_IF_FALSE_24
push constant 3
pop this 1
goto SquareGame.run_IF_TRUE_23
label SquareGame.run_IF_FALSE_24
label SquareGame.run_IF_TRUE_23
push local 0
push constant 132
eq
not
if-goto SquareGame.run_IF_FALSE_26
push constant 4
pop this 1
goto SquareGame.run_IF_TRUE_25
label SquareGame.run_IF_FALSE_26
label SquareGame.run_IF_TRUE_25
label SquareGame.run_WHILE_START_27
push local 0
push constant 0
eq
not
not
if-goto SquareGame.run_WHILE_END_28
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame.run_WHILE_START_27
label SquareGame.run_WHILE_END_28
goto SquareGame.run_WHILE_START_9
label SquareGame.run_WHILE_END_10
push constant 0
return
